# Mac OS
.DS_Store

# NPM
/node_modules
npm-*

# Testing
/.nyc_output
/coverage

# Editor
/.idea
/.vscode

# Build
/dist
/playground
/benchmark

# Localization
/translations

# he he haw
/src/extensions/jg_3d
/src/extensions/jg_3d/
/src/extensions/jg_3d/*
./src/extensions/jg_3d
./src/extensions/jg_3d/
./src/extensions/jg_3d/*
/src/extensions/jg_3d/index.js
./src/extensions/jg_3d/index.js
